
@media (min-width: 576px) {
	.landingItem {
		margin-right: 20px;
	}
	.wrpItemSecond {
		display: flex;
	}
	.landingItemVue {
		display: flex;
	}
}

@media (max-width: 576px) {
	#secondVue{
		margin-top: 80px;
	}
}

@media (max-width: 768px) {
	.titleH {
		margin-top: 80px;
	}
}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
	
}

@media (max-width: 1200px) {
	.landingItem {
	margin-top: 20px;
	}
}

@media (min-width: 1200px) {
}


.landingItem img {
	width: 264px;
	height: 124px;
	}



#mainSection {
	padding: 50px;
	background-size: cover;
	min-height: 500px;

}

.wrpItemMain {
	display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(2, 190px);
    justify-items: left;
}


.wrpItemMain {
	margin-top: 30px;
	margin-bottom: 50px;
}



.landingItem {
	border-radius: 8px;
}
.landingItem img{
	border-radius: 6px;
}

.landingItem {
	border: 4px solid #2d93a1;
	transition: 0.3s ease-in-out;
}


.landingItem a {
    text-decoration: none;
    font-size: 18px;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 15px;
    margin: 10px 10px;
    border-radius: 10px;
    /*box-shadow: 0 0 40px 40px #7f1eb0 inset, 0 0 0 0 #7f1eb0;*/
    background: #2d93a1;
    transition: 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    right: 17%;
    top: 19%;
    z-index: 2;
}



.landingItem a:hover {
    color:#fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.landingItem .buttonMore {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.landingItem:hover .buttonMore {
    display: inline-block;
    position: absolute;
    right: 35%;
    top: 19%;
    z-index: 2;
    opacity: 1;
}

.landingItem:hover {
	background: cover;;
}

.landingItem {
	width: 270px;
	height: 130px;
	position: relative;
}

.wrpitemJs {
	display: flex;
	margin-bottom: 10px;

}

.fatNumber {
	font-weight: 700;

}

.btnProject {
	margin-left: 20px;
	color: #2d93a1;
	text-decoration: none;
}

.btnProject:hover {
	text-decoration: none;
	color: #2d93a1;
}

.wrapperJS h4 {
	margin-bottom: 20px;
}




.wrpAppleTxt {
	display: flex;
}

.wrapperApple {
	margin-top: 100px;
}

.wrpAppleTxt {
	max-width: 260px;
}

.wrpApple {
	margin-top: 30px;
}

.btnProject {
	border: 3px solid #2d93a1;
	padding:  2px 5px;
	border-radius: 6px;
}

.wrapperJS {
	margin-top: 30px;
}
.titleH {
	margin-bottom: 20px;
}

.holder{
    position:relative;   
    width: 220px;
    height: 200px;
    background:url('images/04.jpg');
    background-size: cover;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    padding:5px;
    display: none;
}
.holder:hover .block{
    display: block;
}

.wrapperUtp {
	margin-top: 30px;
}

.landingItemVue {
	margin-bottom: 60px;
}

.landingItem p {
	font-weight: 600;
}

.wrpItemSecond .landingItem{
	margin-top: 40px;
}