#logo {
	height: 100px;
	width: 300px;
}

.wrpInput {
	display: flex;
	justify-content: center;
	width: 65%;
}

.wrapperLogo {
	display: flex;
	justify-content: center;
}

#wrpAdded {
	text-align: center;
	margin-top: 50px;
}


.wrpInput {
	margin: 0 auto;
}

.wrpInput button{
	margin-left: 15px;
}

.wrpInput input {
	text-transform: capitalize; 
}
 
.wrpAddedItem {
	margin: 0 auto;
	display: flex;
	margin-top: 10px;
	font-size: 20px;
	word-wrap: break-word;
	padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
	border-radius: 8px;
	text-align: center;
	background:#f5fdff;
	border: 0.6px solid #326eb3;
	-webkit-box-shadow: -7px -7px 16px -11px rgba(50,110,179,1);
	-moz-box-shadow: -7px -7px 16px -11px rgba(50,110,179,1);
	box-shadow: -7px -7px 16px -11px rgba(50,110,179,1);
}

.addedItem:first-letter {
    text-transform: uppercase;
}



#meeting-time {
	max-width: 250px;
	margin-left: 10px;
}

body {
	width: 100%;
}

.addedItem {
	margin-left: 15px;
	margin-top: -4;
	width: 700px;
	text-align: left;
}

.fa-window-close {
	margin-top: -5px;
	cursor: pointer;
	color: #8f0b28;
}

.fa-check-square {
	margin-top: -5px;
	cursor: pointer;
	color: #075712;
}

.isDone {
	background: #58bfa9;
	color: #fff;
}

.wrTxtInp {
	text-align: center;
	font-weight: 700;
}
.addedDate {
	margin-left: 20%;
	width: 100%;
	white-space: nowrap;
	border-left: 1px solid #326eb3;
}

.fas {
	margin-top: 5px;
}

#buttonAdd {
	width: 200px;
}
 
p, a, input, button {
	font-family: 'Play', sans-serif !important;
}



#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }


  #pantera {
  	position: absolute;
  	top: 40px;
  	z-index: -1;
  	width: 200px;
    left: -10px;
  }

 input {
 	background: #ffc7dc !important;
 }

 .wrpInput {
  margin-top: 50px;
 }

 .wrpDeleteButton {
 	margin-top: 300px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 }

  .wrpDeleteButton button{
	width: 200px;
	margin: 0 auto;
  }

 #sectionToDo {
 	min-height: 600px;
 }

 .hiddenBlock {
 	display: none;
 }

 .wrpbuttons {
 	display: flex;
 }

 .wrapperH {
 	padding: 10px;
 	position: absolute;
 	left: 13%;
 	text-align: center;
 	font-weight: 600;
 	width: 205px;
 	height: 105px;
 	margin-left: 20px;
 	background-image: url('../image/cloud.png');
 	background-size: cover;
	
 }

  .wrapperH h5 {
  	padding: 20px;
    margin-top: 5px;
  	margin-left: 24px;
  	width: 170px;
  	font-size: 18px;
  }

#headerInfo {
      width: 100px;
    margin-left: 60px;
    margin-top: 20px;
}