p, h1, h2, h3, h4, h5, a, button {
	font-family: 'Lato', sans-serif;
}




:root {
  --main-color: #EAA24E;
  --second-color: #EAA24E;
  --mainSectionMarBottom: 100px;
  --mainSectionBgMagin: 40px;
  --anotherSecondMargin: 11%;
  --anotherSecondWidth: 5%;
  --itemAccordionMargin: 20%;
}

#myButton {
	width: 200px;
	height: 40px;
	background: #482a5c;
}

.wrapperButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
}

.form-control {
	width: 200px !important;
	margin-bottom: 10px;
	margin-top: 5px;
}




#wrapperDiv {
	height: 500px;
	width: 600px;
	background: #eddddd;
	margin-left: 350px;
	border: 10px solid #482a5c;
	border-radius: 5px;
	overflow: hidden;
}

.wrpFix {
	position: absolute;
	left: 25px;
	background: #262424;
	padding: 15px;
	color: #fff;
	border-radius: 10px;
	font-weight: 600;
}

body {
	background-image: url('../image/bggg.jpg');
	background-size: cover;
}

.borderDiv {
	border: 2px solid #4287f5;
}