#mainsection {
	padding: 30px 0;
}

#question {
	margin-left: 30px;
}

#txtSend {
	padding: 5px;
	border: 2px solid #28a745;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
}